* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    box-sizing: border-box;
    width: 100%;
}

h1,h2,h3,p {
    background-color: inherit;
}

header {
    background-color: #FFB74D;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
}

header h1 {
    margin: 0;
    color: #FF8F00;
}

nav {
    margin: auto;    
    max-width: 450px;
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #FFB74D;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

section {
    background-color: #ffffff;
    padding: 20px 30px;
    max-width: 790px;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1);
}

section * {
    background-color: inherit;
}

h2 {
    margin: 15px auto;
    color: #FF8F00;
}

p {
    margin: 15px auto;
}

.empada-block {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

.empada-block img {
    max-width: 350px;  
    align-self: center; 
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr * {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #FFB74D;
    color: #fff;
}

.team-block {
    display: flex;
    justify-content: space-around;
}

.team-block img {
    border-radius: 100%;
    max-width: 130px;
    max-height: 130px;
    margin-bottom: 20px;
}

.person {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;
}

section ul {
    margin-left: 40px;
}

.titulo-centralizado {
    text-align: center;
    padding: 10px;
}

.map {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-flow: column;
    margin: 20px auto;
    max-width: 600px;
}

form div {
    padding: 0;
    margin-bottom: 15px;
}

label {
    padding-left: 0;
    font-size: 14px;
    font-weight: bold;
}

input, textarea {
    margin-top: 2px;
    max-width: 600px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    max-width: 600px;
    padding: 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #FFB74D;
    color: #FF8F00;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
  }

footer {
    padding: 30px;
}
